/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dark {
  @apply text-gray-400 [--line-color:theme(colors.gray.200/0.8)] bg-gray-900 bg-gradient-to-b from-black/40;
}
.white {
  @apply text-gray-400 bg-white;
}

/* Custom styles for rainbow shadow button */
.rainbow-shadow-button {
  @apply rounded shadow-md relative;
  position: relative;
  transition: transform 0.2s ease;
}

/* Rainbow shadow effect */
.rainbow-shadow-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    15deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: 400% 400%;
  filter: blur(10px);
  z-index: -1;
  transform: scale(1.3);
  opacity: 0.5;
  transition: opacity 0.5s ease;
}
