/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dark {
  @apply text-gray-400  bg-zinc-900;
}
.light {
  @apply text-slate-800 bg-white;
}

/* Custom styles for rainbow shadow button */
.rainbow-shadow-button {
  @apply rounded shadow-md relative;
  position: relative;
  transition: transform 0.2s ease;
}

/* Rainbow shadow effect */
.rainbow-shadow-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    15deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: 400% 400%;
  filter: blur(10px);
  z-index: -1;
  transform: scale(1.3);
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* styles/custom-scrollbar.css */
/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
  height: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-800; /* Track color */
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-300; /* Handle color */
  border-radius: 10px; /* Rounded corners */
}
/* 
::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */

/* Hide scrollbar for all browsers */
html {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.lightShadow {
  @apply shadow-2xl;
}
.darkShadow {
  @apply shadow-custom-gray;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff')
      format('woff'),
    url('/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2')
      format('woff2'),
    url('/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.ttf')
      format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff')
      format('woff'),
    url('/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff2')
      format('woff2'),
    url('/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.ttf')
      format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Light.woff')
      format('woff'),
    url('/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Light.woff2')
      format('woff2'),
    url('/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Light.ttf')
      format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-ExtraLight.woff')
      format('woff'),
    url('/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-ExtraLight.woff2')
      format('woff2'),
    url('/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-ExtraLight.ttf')
      format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff')
      format('woff'),
    url('/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff2')
      format('woff2'),
    url('/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.ttf')
      format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'Satoshi', Arial, sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
